@{
    ViewBag.Title = "GetPaymentStatus";
    Layout = "~/Views/Shared/_LayoutQuatoPage.cshtml";
    }
    var baseURL = System.Configuration.ConfigurationManager.AppSettings["StarBaseURL"].ToString();
    var secretKey = System.Configuration.ConfigurationManager.AppSettings["StarSecretKey"].ToString();
    var apiKey = System.Configuration.ConfigurationManager.AppSettings["StarAPIKey"].ToString();

<div align="center">

    <h2>Payment Status: @ViewBag.PolicyStatus</h2>
    @if (@ViewBag.Note != "" && @ViewBag.Note != null)
    {
        <h3>@ViewBag.Note</h3> }
    else
    {
        <h3>Policy Number: @ViewBag.PolicyNumber</h3>
        <h3>Reference Number: @ViewBag.ReferenceNumber</h3>
    }
    <input type="hidden" name="refid" id="refid" value="@ViewBag.RefId" />
   @* <input type="hidden" name="refid" id="refid" value="d9c1465c4b0c4270ace2744886f988e7" />*@
    
    <a id="downloadDoc" class="btn btn-primary" target="_blank"> Download Policy Document</a>&nbsp;
    <a href="/" class="btn btn-primary"> Home</a>
    <script>
        $(document).ready(function () {
            $("#downloadDoc").attr("href", 'http://localhost:8217/HealthPlan/Download?refid=' + $("#refid").val());
        });

    </script>


</div>
