@model Domain.SearchTravelInsurance

@{
    ViewBag.Title = "TravelResult";
    Layout = "~/Views/Shared/_LayoutQuatoPage.cshtml";
}


@*
    <script src="~/Content/jquery-3.4.1.min.js"></script>*@


<script src="~/Resources/js/jquery.easing.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="~/Resources/css/termLife.css">
<link rel="stylesheet" href="~/Resources/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Resources/css/button.css">
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
<!--Hindi Font Poppins-->
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="~/Resources/css/Homepage.css" rel="stylesheet" />


<link href="~/Resources/css/TravelInsurance.css" rel="stylesheet" />

<script>
    $(function () {
        $("#tripStartDate").datepicker({
            minDate: 0,
            dateFormat: 'dd-mm-yy',
            yearRange: "2020:2035",
            changeYear: true,
            changeMonth: true,

            onSelect: function (dateStr) {
                var start = $("#tripStartDate").datepicker("getDate");
                var end = $("#tripEndDate").datepicker("getDate");
                if (end != null) {
                    var days = (end - start) / (1000 * 60 * 60 * 24);
                    $("#stayDays").val(days + 1);

                }

            }
        }).val();
        $("#tripEndDate").datepicker({
            minDate: 0,
            dateFormat: 'dd-mm-yy',
            yearRange: "2020:2035",
            changeYear: true,
            changeMonth: true,

            onSelect: function (dateStr) {
                var start = $("#tripStartDate").datepicker("getDate");
                var end = $("#tripEndDate").datepicker("getDate");
                console.log(dateStr);
                if (start != null) {
                    var days = (end - start) / (1000 * 60 * 60 * 24);
                    $("#stayDays").val(days + 1);
                    var startDate = new Date($("#tripStartDate").val());
                    var endDate = new Date($("#tripEndDate").val());
                    if (startDate < endDate) {
                        alert("");
                    }

                }

            }
        }).val();
    });

    function BindCoverAmount() {

    }
</script>
<script>
    var startDate = new Date($("#tripStartDate").val());
    var endDate = new Date($("#tripEndDate").val());

    if (startDate < endDate) {
        alert("");
    }
</script>
@*<script>

        $("#tripStartDate").datepicker({
            onSelect:(function () {
            var stay = $("#stayDays").val();
            if (stay > 190) {
                $("#tripEndDate").datepicker({
                    numberOfMonths: 3,
                })
            }
            })
        })
    </script>*@


<script>

    $("#tripType").change(function () {
        var stay = $("#stayDays").val();
        if (stay > 180) {
            alert("We can not provide policy after 180 day");
        }
    })
</script>

<style>
    .middle-two {
        height: auto;
    }

    .label {
        line-height: 0px !important;
    }

    .form-group {
        margin-bottom: 3px;
    }

    #msform input, #msform textarea {
        text-align: left;
    }

    #ui-datepicker-div {
        top: 215.078px !important;
        z-index: 99999 !important;
    }

    .conterty {
        display: block;
    }

    .logo {
        width: 25.2% !important;
    }

    #msform input.btn-lifebtn {
        width: 123px;
        line-height: 24px;
    }

    #tripStartDate {
        margin-bottom: 1px !important;
    }

    #tripEndDate {
        margin-bottom: 1px !important;
    }

    span.field-validation-error.hetyu {
        bottom: 1px !important;
    }

    #navbar ul {
        background: none !important;
    }

    #navbar li {
        background: none !important;
    }

    #translate-a {
        top: 24px !important;
    }
</style>

<div class="container">
    <div class="row">




        <div class="hidden-xs col-sm-6 col-md-6">
            <div class="car-insurance">
                <figure class="snip1456">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample50.jpg" alt="sample50" />
                    <div class="title-car">
                        <div>
                            <h2><span>Travel<br />Insurance</span></h2>

                            <h4>
                                <img src="~/Resources/images/airplane.png" style="position: relative; bottom: 0px;width: 48px; height: auto; opacity: 1; margin: 0 auto;" class="img-responsive">
                            </h4>
                        </div>
                    </div>
                    <figcaption>
                        <p>Insurance is the subject matter of solicitation. Visitors are hereby informed that their information submitted on the website may be shared with insurers.</p>
                    </figcaption>
                </figure>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="car-insurance-two">

                <div id="msform">
                    <!-- progressbar -->

                    <form method="post" action="GetQuote">



                        <fieldset>
                            <h3 class="fs-subtitle" style="margin-bottom:1px;">
                                <span>Help us with your Details</span>

                            </h3>

                            <div class="row-health">
                                <h5 style="visibility:hidden;margin: 5% 2% 3%;">Protection against all forms of death, disease & disability</h5>

                                <div class="middle-two">

                                    <label class="healthlbl col-xs-12 col-sm-12 col-md-12">
                                        <p class="label-txt">
                                            <i class="fa fa-user"></i>Destinations
                                        </p>
                                        @*<select id="ddlTobacco" class="healthinpt" style="margin-bottom: 0;"></select>*@
                                        @Html.DropDownListFor(model => model.destination, (SelectList)ViewData["Destinations"], " ", new { @class = "healthinpt", @style = "margin-bottom: 0;", @required = "true" })
                                    </label>

                                    <link href="~/Resources/css/inputFocus.css" rel="stylesheet" />
                                    <div>
                                        <div class="col-xs-12 col-sm-5 col-md-5">
                                            <h6 class="bcvgd">AGE OF<br />TRAVELLER(S)</h6>
                                        </div>

                                        <div class="col-xs-12 col-sm-7 col-md-7" style="padding:0px;">
                                            <div>

                                                <div class="col-xs-5 col-sm-3 col-md-2 col-3" style="padding:0px; margin-right:1.5rem">
                                                    <label for="ageSelf" class="ageSelf">
                                                        @*<input type="text" id="inp" placeholder="&nbsp;">*@
                                                        @Html.TextBoxFor(model => model.ageSelf, new { @placeholder = " ", @maxlength = "3", @minlength = "2", @required = "true" })
                                                        <span class="label">Self</span>



                                                    </label>
                                                </div>

                                                <div class="col-xs-5 col-sm-3 col-md-2 col-3" style="padding:0px; margin-right:1.5rem">
                                                    <label for="ageSpouse" class="ageSpouse">
                                                        @Html.TextBoxFor(model => model.ageSpouse, new { @placeholder = " ", @maxlength = "3", @minlength = "2" })
                                                        <span class="label">Spouse</span>

                                                    </label>
                                                </div>

                                                <div class="col-xs-5 col-sm-3 col-md-2 col-3" style="padding:0px; margin-right:1.5rem">
                                                    <label for="ageChild1" class="ageChild1">
                                                        @Html.TextBoxFor(model => model.ageChild1, new { @placeholder = " ", @maxlength = "3", @minlength = "1" })
                                                        <span class="label">Child 1</span>

                                                    </label>
                                                </div>

                                                <div class="col-xs-5 col-sm-3 col-md-2 col-3" style="padding:0px; margin-right:1.5rem">
                                                    <label for="ageChild2" class="ageChild2">
                                                        @Html.TextBoxFor(model => model.ageChild2, new { @placeholder = " ", @maxlength = "3", @minlength = "1" })
                                                        <span class="label">Child 2</span>

                                                    </label>
                                                </div>

                                            </div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-3" style="padding:0px; margin-right:0.9rem">
                                                <label for="ageBrother" class="ageBrother">
                                                    @Html.TextBoxFor(model => model.ageBrother, new { @placeholder = " ", @maxlength = "3", @minlength = "2" })
                                                    <span class="label">Brother</span>

                                                </label>
                                            </div>

                                            <div class="col-xs-3 col-sm-3 col-md-3 col-3" style="padding:0px; margin-right:0.9rem">
                                                <label for="ageMother" class="ageMother">
                                                    @Html.TextBoxFor(model => model.ageMother, new { @placeholder = " ", @maxlength = "3", @minlength = "2" })
                                                    <span class="label">Mother</span>

                                                </label>
                                            </div>

                                            <div class="col-xs-3 col-sm-3 col-md-3 col-3" style="padding:0px; margin-right:0.9rem">
                                                <label for="ageFather" class="ageFather">
                                                    @Html.TextBoxFor(model => model.ageFather, new { @placeholder = " ", @maxlength = "3", @minlength = "2" })
                                                    <span class="label">Father</span>

                                                </label>
                                            </div>

                                            @Html.ValidationMessageFor(model => model.ageSelf)
                                        </div>
                                    </div>
                                    <div class="sectingh">

                                        <label class="healthlbl col-xs-12 col-sm-6 col-md-6">
                                            <p class="label-txt pddf">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>Trip Start
                                            </p>
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    @*<input type='text' class="form-control" id="datapiker" data-date-format="DD MMMM YYYY" style="margin-bottom: 0;" />*@
                                                    @Html.TextBoxFor(model => model.tripStartDate, new { @class = "healthinpt", @required = "true" })

                                                    @Html.ValidationMessageFor(model => model.tripStartDate, "", new { @class = "hetyu" })


                                                </div>
                                            </div>
                                        </label>

                                        <label class="healthlbl col-xs-12 col-sm-6 col-md-6">
                                            <p class="label-txt pddf">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>Trip End
                                            </p>

                                            <div class='input-group date' id='datetimepicker2'>
                                                @Html.TextBoxFor(model => model.tripEndDate, new { @class = "healthinpt", @required = "true" })
                                                @*<span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>*@
                                                @Html.ValidationMessageFor(model => model.tripEndDate, "", new { @class = "hetyu" })


                                            </div>

                                        </label>

                                    </div>


                                    <div class="sectingh">


                                        <label class="healthlbl col-xs-12 col-sm-6 col-md-6">
                                            <p class="label-txt"><i class="fa fa-user"></i>Stay Days</p>
                                            @Html.TextBoxFor(model => model.stayDays, new { @class = "healthinpt" })
                                        </label>
                                        <label class="healthlbl col-xs-12 col-sm-6 col-md-6">
                                            <p class="label-txt">
                                                <i class="fa fa-user"></i>Trip Type
                                            </p>
                                            @*<select id="ddlTobacco" class="healthinpt" style="margin-bottom: 0;"></select>*@
                                            @Html.DropDownListFor(model => model.tripType, (SelectList)ViewData["listTripType"], " ", new { @class = "healthinpt" })
                                        </label>
                                        <label class="healthlbl col-xs-12 col-sm-6 col-md-6 hide">
                                            <p class="label-txt"><i class="fa fa-phone-square" aria-hidden="true"></i>Cover Amount</p>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    @Html.TextBoxFor(model => model.coverAmount, new { @class = "form-control", @style = "margin-bottom: 0;" })
                                                </div>
                                            </div>
                                        </label>


                                    </div>
                                </div>
                            </div>



                            @*<input type="text" class="next action-button btn-primary-insbtn btn-lifebtn" id="btnsave" placeholder="View Free Quotes" onserverclick="Submit_Click" onclick="Submit_Click" />*@
                            <input type="button" class="next action-button btn-primary-insbtn btn-lifebtn" id="btnsave" value="Proceed" />
                            <div style="margin: 1% 1% 2%; font-weight: bold; text-align: center; font-size: 12px;">
                                <span>By clicking you agree to our <a href="/PDF/CYP_Privacy%20Policy_Release.pdf" target="_blank">Privacy policy</a> & <a href="/PDF/CYP%20-%20Terms%20and%20Conditions_Release.pdf" target="_blank">Terms & Conditions</a></span>
                                <span style="display:block;width:100%;text-align-last:right;font-size:9px;color: #676767;">*(Standard T&C Apply)</span>
                            </div>
                        </fieldset>



                        <fieldset>
                            <h3 class="fs-subtitle" style="margin-bottom:1px;">
                                <span>Get Instant Quotes</span>

                            </h3>

                            <div class="row-health">
                                <h5 style="visibility:hidden;margin: 5% 2% 3%;">Protection against all forms of death, disease & disability</h5>

                                <div class="middle-two">

                                    <label class="healthlbl col-xs-6 col-sm-6 col-md-6">
                                        <p class="label-txt"><i class="fa fa-user"></i>Name</p>
                                        @Html.TextBoxFor(model => model.travellerName, new { @class = "healthinpt", @autocomplete = "off", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.travellerName)


                                    </label>

                                    <label class="healthlbl col-xs-6 col-sm-6 col-md-6">
                                        <p class="label-txt"><i class="fa fa-user"></i>City</p>
                                        @Html.TextBoxFor(model => model.City, new { @class = "healthinpt", @autocomplete = "off", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.City)
                                    </label>


                                    <label class="healthlbl col-xs-6 col-sm-6 col-md-6">
                                        <p class="label-txt"><i class="fa fa-user"></i>Phone</p>
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "healthinpt", @autocomplete = "off", @maxlength = "10", @minlength = "10", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Phone)
                                    </label>

                                    <label class="healthlbl col-xs-6 col-sm-6 col-md-6">
                                        <p class="label-txt"><i class="fa fa-user"></i>Email</p>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "healthinpt", @autocomplete = "off", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </label>

                                </div>
                            </div>




                            <input type="button" name="previous" class="previous action-button btn-primary-insbtn btn-insidebtn" placeholder="Previous" value="Previous" />
                            <input type="submit" class="nexts action-button btn-primary-insbtn btn-insidebtn" id="btnsubmit" placeholder="Next" value="Next" />

                        </fieldset>


                    </form>
                </div>

            </div>

        </div>
    </div>
</div>


<script>
    $(function () {
        $('#tripStartDate').datepicker({
            minDate: 0
        });
        $('#tripEndDate').datepicker();
    });


</script>





@*hjhjkhjkhtoday ,,,*@
@*<script type="text/javascript">
                 $('#btnsave').attr('disabled', true);
                 $('#ageSelf').keypress(function () {
                    var textarea_value = $("#destination").val();
                    var text_value = $('#tripStartDate').val();
                    if (textarea_value != null && text_value != null) {
                        $('#btnsave').attr('disabled', false);
                    } else {
                        $('#btnsave').attr('disabled', true);
                    }
                });
            </script>
        <script>
            $(document).ready(function () {
                $('#btnsave').click(function () {
                    if ($('#ageSelf').val() == '') {
                        alert('Plz Input value the of self Age ');
                        return false;
                    }
                });
            });
        </script>
    <script>
        $(document).ready(function () {
            $('#btnsave').attr('disabled', true);
        });
            $('#destination').change(function () {
                if ($('#destination').val.length != 0) {
                    $('#btnsave').attr('disabled', false);
                }

            })
            $('#ageSelf').change(function () {
                if ($('#ageSelf').val.length != 0) {
                    $('#btnsave').attr('disabled', false);
                }
            })

    </script>
*@
@*<script>
    $("#btnsave").click(function () {
        if ($('#destination').val.length != 0) {
            //swal("Good job!", "You clicked the button!", "error");
            alert('destination');
            return false;
        }
        else if ($('#ageSelf').val.length != 0) {
            alert('okhh');
            return false;
        }
        else if ($('#tripStartDate').val.length != 0) {
            alert('okhh');
            return false;
        }
        else if ($('#tripEndDate').val.length != 0) {
            alert('okhh');
            return false;
        }
        else if ($('#tripType').val.length != 0) {
            alert('okhh');
            return false;
        }
        
        else {
            return true;
        }
    })
</script>*@
   <script>
        $("#btnsave").click(function () {
             if ($('#destination').val() == '') {
                 //swal("Plz Select!", "Destination!", "error");
                 swal("Go Back","Plz Select Destination!", "error");
          
            return false;
             }
             else if ($('#ageSelf').val() == '') {
                 swal("Go Back", "Plz Enter Self Age!", "error");
                 return false;
             }
             else if ($('#tripStartDate').val() == '') {
                 swal("Go Back", "Plz Select Trip Start Date!", "error");
                 return false;
             }
            
             else if ($('#tripEndDate').val() == '') {
                 swal("Go Back", "Plz Select Trip End Date!", "error");
                 return false;
             }
             else if ($('#tripType').val() == '') {
                 swal("Go Back", "Plz Select Trip Type!", "error");
                 return false;
             }

        })
    </script>

@*
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnsave').attr('disabled', true);
                if ($('#ageSelf').val() == '') {
                    $('#btnsave').attr('disabled', false);
                }
            });

    </script>
    @*
    <script>
        $(document).ready(function () {
            $('#btnsave').click(function () {
                if ($('#destination').val() == '') {
                    alert('Plz Select Destination ');
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#btnsave').click(function () {
                if ($('#tripStartDate').val() == '') {
                    alert('Plz Input value the of tripStartDate ');
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#btnsave').click(function () {
                if ($('#tripEndDate').val() == '') {
                    alert('Plz Input value the of tripEndDate ');
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#btnsave').click(function () {
                if ($('#tripType').val() == '') {
                    alert('Plz Select The Trip type ');
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#btnsubmit').click(function () {
                if ($('#travellerName').val() == '') {
                    alert('Plz Input value the of travellerName ');
                }
            });
        });
    </script>*@
@*hjhjkhjkhtoday*@

<script>
    $(document).ready(function () {

        $('.healthinpt').focus(function () {
            $(this).parent().find(".label-txt").addClass('label-active');
        });

        $(".healthinpt").focusout(function () {
            if ($(this).val() == '') {
                $(this).parent().find(".label-txt").removeClass('label-active');
            };
        });

    });

</script>
<script>
    $("#btnsave").click(function () {
        var stay = $("#stayDays").val();
        if (stay > 180) {
            alert("We can not provide policy after 180 day");
            $("#tripStartDate").val() = "";
            $("#tripEndDate").val() = "";
        }
    })
</script>

<script>

    //jQuery time
    var current_fs, next_fs, next_fss, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();
        next_fss = $(this).parent();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50) + "%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
                    'transform': 'scale(' + scale + ')',
                    'position': 'absolute'
                });
                next_fs.css({ 'left': left, 'opacity': opacity });
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".nexts").click(function () {
        if (animating) return false;
        animating = false;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();
        next_fss = $(this).parent().nexts();;

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fss)).addClass("active");;


        //show the next fieldset
        next_fss.showd();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 1 }, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50) + "%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
                    'transform': 'scale(' + scale + ')',
                    'position': 'absolute'
                });
                next_fs.css({ 'left': left, 'opacity': opacity });
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });


    $(".previous").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1 - now) * 50) + "%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({ 'left': left });
                previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".submit").click(function () {
        return false;
    })

</script>

<script>
    (function ($) {
        $.fn.menumaker = function (options) {
            var cssmenu = $(this), settings = $.extend({
                format: "dropdown",
                sticky: false
            }, options);
            return this.each(function () {
                $(this).find(".button").on('click', function () {
                    $(this).toggleClass('menu-opened');
                    var mainmenu = $(this).next('ul');
                    if (mainmenu.hasClass('open')) {
                        mainmenu.slideToggle().removeClass('open');
                    }
                    else {
                        mainmenu.slideToggle().addClass('open');
                        if (settings.format === "dropdown") {
                            mainmenu.find('ul').show();
                        }
                    }
                });
                cssmenu.find('li ul').parent().addClass('has-sub');
                multiTg = function () {
                    cssmenu.find(".has-sub").prepend('<span class="submenu-button"></span>');
                    cssmenu.find('.submenu-button').on('click', function () {
                        $(this).toggleClass('submenu-opened');
                        if ($(this).siblings('ul').hasClass('open')) {
                            $(this).siblings('ul').removeClass('open').slideToggle();
                        }
                        else {
                            $(this).siblings('ul').addClass('open').slideToggle();
                        }
                    });
                };
                if (settings.format === 'multitoggle') multiTg();
                else cssmenu.addClass('dropdown');
                if (settings.sticky === true) cssmenu.css('position', 'fixed');
                resizeFix = function () {
                    var mediasize = 1000;
                    if ($(window).width() > mediasize) {
                        cssmenu.find('ul').show();
                    }
                    if ($(window).width() <= mediasize) {
                        cssmenu.find('ul').hide().removeClass('open');
                    }
                };
                resizeFix();
                return $(window).on('resize', resizeFix);
            });
        };
    })(jQuery);

    (function ($) {
        $(document).ready(function () {
            $("#cssmenu").menumaker({
                format: "multitoggle"
            });
        });
    })(jQuery);


</script>




@*ppppppppppppppppppppppp.....................................................................................*@
<script>
    $(document).ready(function () {

        $("#Phone").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>
<script>
    $(document).ready(function () {

        $("#ageSelf").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>
<script>
    $(document).ready(function () {

        $("#ageSpouse").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>
<script>
    $(document).ready(function () {

        $("#ageChild1").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>
<script>
    $(document).ready(function () {

        $("#ageChild2").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>
<script>
    $(document).ready(function () {

        $("#ageBrother").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>
<script>
    $(document).ready(function () {

        $("#ageMother").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>
<script>
    $(document).ready(function () {

        $("#ageFather").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>
@* end .......ppppppppppp...........................................................................*@



